# This is the config file, and
# a '#' or ';' character indicates
# a comment
[core]
    autocrlf = input
    editor = vim
    # logAllRefUpdates = true ;to enable reflogs
[user]
	name = Igor Mykhaylyuk
#    email = igor13luk@gmail.com
	email = igor_mykhaylyuk@epam.com
[alias]
    co = checkout
	br = branch
    cp = cherry-pick
	ci = commit
    ciam = commit --amend
    cia = commit --amend --no-edit
    dif = diff HEAD
	st = status
    rbi = !bash -c \"git rebase -i HEAD~${1:-2}\"
    review = !bash -c \"git push origin HEAD:refs/for/${1:-develop}\"
    rp = !bash -c \"git push origin HEAD\"
#	up = "!git remote update -p; git merge --ff-only @{u}"
[merge]
tool = sublimerge

[mergetool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
trustExitCode = false

[diff]
tool = sublimerge

[difftool "sublimerge"]
cmd = subl -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
[push]
	default = current
[pull]
	rebase = true
